@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:200,400");


body {
	background: #f4f4f4;
	font-size: 18px;
	line-height: 34px;
	color: ##666666;
    font:BlinkMacSystemFont;
}

* {
	box-sizing: border-box;
}

/*general*/

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}
h1, 
h2,
h3,
p {
	margin-bottom: 20px;
}
p:last-child {
	margin-bottom: 0;
}
h1, h2, h3 {
	font-family: BlinkMacSystemFont;;
	font-weight: 700;
	color: #4aaaa5;
}
h1 {
	font-size: 30px;
	line-height: 49px;
	border-bottom: 3px solid #ddd;
	padding-bottom: 20px;
}
h2,
h3 {
	font-size: 22px;
}

/*header*/

#masthead {
	background: #fff;
	margin: 0 0 30px;
	z-index: 99;
	color: #fff;
	overflow: auto;
	border-bottom: 2px solid #ccc;
	position: fixed;
	width: 100%;
}
#logo {
	width: 250px;
	height: 90px;
	background: #4aaaa5;
	float: left;
	font-family: BlinkMacSystemFont;
	text-align: center;
	line-height: 90px;
	color: #fff;
	font-weight: 700;
	font-size: 30px;
	text-decoration: none;
}
nav {
	float: right;
	margin-top: 25px;
}
nav a {
	color: #999;
	text-decoration: none;
	margin-left: 15px;
	display: inline-block;
	border-left: 1px solid #efefef;
	padding-left: 15px;
	line-height: 18px;
}
nav a:first-child {
	border-left: 0 none;
}

/*footer*/

footer {
	background: #666;
	color: #fff;
	padding: 30px 0;
	clear: both;
	border-top: 8px solid #4aaaa5;
	color: #ccc;
	font-size: 12px;
	text-align: center;
}

/*sidebar*/

.sidebar {
	background: #fff;
	padding: 30px;
	width: 100%;
	max-width: 270px;
	float: right;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
h3,
.sidebar h2 {
	border-bottom: 2px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 15px;	line-height: 22px;
}
.social {
	width: 62px;
	height: 62px;
	margin-top: 8px;
	margin-right: 5px;
}
.social:last-child {
	margin-right: 0;
}

/*main*/

#main-container {
	padding-top: 130px;
}
.main-section {
	background: #fff;
	padding: 30px;
	margin: 0 0 40px 0;
	width: 100%;
	max-width: 650px;
	float: left;
	border: 1px solid #ddd;
}

/*portfolio page*/

.work {
	width: 274px;
	overflow: auto;
	position: relative;
	float: left;
	margin: 20px 0 25px;
}
.work:nth-child(even) {
	margin-right: 40px;
}
.work img {
	width: 100%;
	border: 0 none;
}
.work h3 {
	border-bottom: 0;
	background: #4aaaa5;
	color: #fff;
	text-align: center;
	position: absolute;
	padding: 15px;
	width: 100%;
	bottom: 20px;
	line-height: 30px;
	margin-bottom: 0;
	font-weight: 300;
}
.auth-image {
	width: 200px;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-right: 25px;
}

/*contact page*/

#contact-form ul {
	margin-bottom: 20px;
}
#contact-form li {
	margin-bottom: 10px;
}
label,
input[type=text],
input[type=email],
button,
.button
textarea {
	display: block;
	width: 100%;
}
input[type=text],
input[type=email],
input[type="reset"],
button,
.button
textarea {
	height: 35px;
	border: 1px solid #ddd;
	padding: 0 10px;
	font-size: 14px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 3.5em;
    line-height: 3.5em;
    padding: 0 2em 0 2.375em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.325em;
    font-size: 0.725em;
}
textarea {
	height: 200px;
}
input[type=submit]
 {
	background: #4aaaa5;
	border: 0 none;
	color: #fff;
	font-size: 18px;
	padding: 10px 30px;
	cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 3.5em;
    line-height: 3.5em;
    padding: 0 2em 0 2.375em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.325em;
    font-size: 0.725em;
}

#message  {
element.style
    margin: 0px;
    width: 487px;
    height: 200px;
}


